.ios {
    ion-toolbar.pt {
        padding-top: 2vh;
    }
    ion-buttons {
        margin-top: 8px;
    }
}

ion-item {
    ion-label {
        font-size: 0.95rem !important;
        p {
            margin-top: 5px;
            font-size: 0.8rem !important;
            font-weight: normal;
            color: dimgray;
        }
    }
}