<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Account</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="confirmLogout()" *ngIf="profile">
        <ion-icon name="power-outline" color="white" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div *ngIf="isLoading" class="ion-text-center alignSpinner">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <ion-list class="borderBottom">

      <ion-item lines="full" class="profile" *ngIf="profile">
        <ion-avatar slot="start">
          <img [src]="profile?.photo ? profile.photo : ('assets/imgs/avatar.png')" />
        </ion-avatar>
        <ion-label>
          <ion-text class="ion-text-uppercase"><h4>{{profile?.name | uppercase}}</h4></ion-text>
          <p>{{profile?.number}} | {{profile?.email}}</p>
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="editProfile()">EDIT</ion-button>
      </ion-item>

      <ion-item lines="full" *ngIf="!profile">
        <ion-avatar slot="start">
          <img src="assets/imgs/avatar.png" />
        </ion-avatar>
        <ion-label>
          <ion-text class="ion-text-uppercase"><h4>Guest</h4></ion-text>
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="login()">LOGIN</ion-button>
      </ion-item>

      <ion-item lines="none" detail="true" (click)="editAbout()">
        <ion-icon name="person-outline" slot="start" color="dark"></ion-icon>
        <h4>Kitchen Name,About</h4>
      </ion-item>
      <ion-item lines="none" detail="true" (click)="updateTimings()">
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Timings</h4>
      </ion-item>
      <ion-item lines="none" detail="true" >
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Profile Gallery</h4>
      </ion-item>
      <ion-item lines="none" detail="true" >
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Documents</h4>
      </ion-item>
      <ion-item lines="none" detail="true" >
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Cash Limit,Bank Info</h4>
      </ion-item>
      <ion-item lines="none" detail="true" [routerLink]="['/', 'tabs', 'cuisines']">
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Cusines</h4>
      </ion-item>
      <ion-item lines="none" detail="true" [routerLink]="['/', 'tabs', 'address']">
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Address</h4>
      </ion-item>
      <ion-item lines="none" detail="true" [routerLink]="['/', 'tabs', 'delivery-options']">
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Delivery,Takeaway</h4>
      </ion-item>
      <ion-item lines="none" detail="true" [routerLink]="['/', 'tabs', 'menu']">
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Menu</h4>
      </ion-item>
      <ion-item lines="none" detail="true">
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Help</h4>
      </ion-item>
      <ion-item lines="none" detail="true">
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Privacy Policy</h4>
      </ion-item>
      <ion-item lines="none" detail="true">
        <ion-icon name="caret-forward-outline" slot="start" color="dark"></ion-icon>
        <h4>Contact Us</h4>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
