<ion-card>

  <ion-item lines="none" class="dashedBorderBottom" (click)="track()">
    <ion-label>
      {{order?.user?.name}}
      <p class="ion-text-wrap">{{order?.user?.number}}</p>
      <ion-text>
        <p class="amt">
          <b>
            ₹{{order?.amount_to_be_paid}}
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </b>
        </p>
      </ion-text>
    </ion-label>
    <ion-note slot="end" color="dark" class="statusText">
      {{order?.status == 0 ? 'Confirm pending' :delivery_status[order.status].name}}
      <ion-icon *ngIf="order?.status == 5" name="checkmark-circle-outline" color="success"></ion-icon>
      <ion-icon *ngIf="order?.status == 6" name="close-circle-outline" color="danger"></ion-icon>
    </ion-note>
  </ion-item>

  <ion-item lines="none" class="borderBottomSmall rider" *ngIf="order?.rider">

    <ion-avatar slot="start">
      <img [src]="order?.rider?.photo ? order?.rider?.photo : 'assets/imgs/avatar.png'" />
    </ion-avatar>

    <ion-label class="ion-text-wrap">
      Your delivery by {{order?.rider?.name}}
    </ion-label>

    <ion-fab-button 
      *ngIf="
        order?.status == 'Ongoing' 
        || 
        order?.status == 'Picked'" 
      size="small"
      color="success"
      slot="end"
      class="fab_call"
      (click)="callRider(order?.rider?.phone)">
      <ion-icon name="call-outline" color="white"></ion-icon>
    </ion-fab-button>

    <div slot="end" *ngIf="order?.status == 'Delivered' && order?.rating">
      <app-rating
        [readonly]="true"
        [initialRating]="order?.rating?.rate_rider"
        [size]="'0.7rem'"
        [padding]="'0 1px'">
      </app-rating>
    </div>
    
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      <!-- <ion-note color="dark">
        ORDER ID: {{order?.id}}
      </ion-note> -->
      <ion-text *ngFor="let item of order?.details">
        <p class="item_qty">{{item?.product.name}} ({{item?.quantity}})</p>
      </ion-text>
      <p class="time">{{order?.delivery_date | date: 'MMM d, y, h:mm a'}}</p>
    </ion-label>
  </ion-item>

  <ion-row>

    <ion-col 
      *ngIf="order?.status == 'Rejected' || order?.status == 'Cancelled' || order?.status == 'Delivered'"
      size="6">
      <!-- [offset]="(order?.status == 'Rejected' || order?.status == 'Cancelled') ? 6 : 0" -->
      <ion-button 
        fill="outline" 
        expand="block" 
        color="dark" 
        size="small"
        (click)="reorderItem()">
        <ion-text>REORDER</ion-text>  
      </ion-button>
    </ion-col>
    
    <ion-col size="6" *ngIf="order?.status == 5">
      <ion-button 
        (click)="rateFood()" 
        fill="outline" 
        expand="block" 
        color="primary"
        size="small">
        <ion-text>RATE ORDER</ion-text>  
      </ion-button>
    </ion-col>

    <ion-col 
      size="6" 
      *ngIf="order?.status == 'Delivered' && order?.rating" 
      class="ion-text-center rate">
      <app-rating
        [readonly]="true"
        [initialRating]="order?.rating?.rate_chef"
        [size]="'0.9rem'">
      </app-rating>
      <ion-label 
        *ngIf="order?.rating?.comment_chef && order?.rating?.comment_chef != ''" 
        class="comment">
        {{order?.rating?.comment_chef}}
      </ion-label>
    </ion-col>
    <ion-col *ngIf="order?.status == 1 || order?.status == 2" size="6">
      <ion-button 
        (click)="track()" 
        expand="block" 
        fill="outline" 
        color="success"
        size="small">
        <ion-text>View</ion-text>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="order?.status == 1" size="6">
      <ion-button 
        (click)="cancelOrder()" 
        expand="block" 
        fill="outline" 
        color="success"
        size="small">
        <ion-text>PROCESSING</ion-text>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="order?.status == 2" size="6">
      <ion-button 
        (click)="cancelOrder()" 
        expand="block" 
        fill="outline" 
        color="success"
        size="small">
        <ion-text>OUT FOR DELIVERY</ion-text>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="order?.status == 0" size="6">
      <ion-button 
        (click)="acceptOrder()" 
        expand="block" 
        fill="outline" 
        color="success"
        size="small">
        <ion-text>ACCEPT</ion-text>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="order?.status == 0" size="6" >
      <ion-button 
        (click)="cancelOrder()" 
        expand="block" 
        fill="outline" 
        color="danger"
        size="small">
        <ion-text>CANCEL</ion-text>
      </ion-button>
    </ion-col>

  </ion-row>

</ion-card>