<ion-header class="ion-no-border">
  <ion-toolbar color="white">
    <ion-item lines="none">
      <ion-label>
        <ion-text>
          <ion-icon name="business" color="primary"></ion-icon>
          <ion-text *ngIf="communityData?.name">{{communityData?.name}}</ion-text>
          <ion-text *ngIf="!communityData?.name">Unknown Community</ion-text>
          <ion-icon color="dark" name="chevron-down-outline"></ion-icon>
        </ion-text>
        <p *ngIf="communityData?.address" class="ion-text-no-wrap">
          {{communityData?.landmark || ''}} {{communityData?.street || ''}} {{communityData?.address}}
        </p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
  <ng-container>
    <ion-row class="borderBottom">
      <div class="category-slide">
        <ion-segment class="segment-small" scrollable [value]="selectedTabId">
          <ion-segment-button *ngFor="let category of categories" [value]="category.id"
            (click)="selectTab(category.id)">
            <p>{{category?.name}}</p>
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-row>
  </ng-container>
</ion-header>

<ion-content>
  <div class="wrapper" *ngIf="!isVerified && !isLoading">
    <h1>Verification Pending</h1>
   </div>
  <div *ngIf="isLoading"><ion-skeleton-text animated style="height: 25vh;"></ion-skeleton-text></div>
  <app-loading-chef *ngIf="isLoading"></app-loading-chef>
  
  <app-empty-screen *ngIf="!filteredOrders || filteredOrders?.length == 0" [model]="emptyScreenModel">
  </app-empty-screen>
  <app-order *ngFor="let order of filteredOrders" [order]="order" (reorder)="reorder($event)" (call)="call($event)"
    (cancel)="cancel(order)" (accept)="accept(order)">
  </app-order>
  
</ion-content>