<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selectedTab == 'home' ? 'list' : 'list-outline'"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reviews">
      <ion-icon [name]="selectedTab == 'reviews' ? 'star' : 'star-outline'"></ion-icon>
      <ion-label>REVIEW</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payment">
      <ion-icon [name]="selectedTab == 'payment' ? 'cash' : 'cash-outline'"></ion-icon>
      <ion-label>PAYMENT</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon [name]="selectedTab == 'account' ? 'person' : 'person-outline'"></ion-icon>
      <ion-label>ACCOUNT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>