<ion-card>

  <form [formGroup]="form"> 
  
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input 
        label=""
        placeholder="Email address"
        formControlName="email" 
        type="email"
        errorText="* Please enter your Email Address">
      </ion-input>
    </ion-item>
  
    <ion-item lines="none">
      <ion-icon 
        [name]="type ? 'eye' : 'eye-off'" 
        slot="end" 
        color="dark" 
        (click)="changeType()">
      </ion-icon>
      <ion-input 
        label=""
        formControlName="password" 
        [type]="type ? 'password' : 'text'" 
        placeholder="Enter password"
        minlength="3"
        [errorText]="form.get('password').hasError('minlength') ? '* Password must be atleast 8 characters long' : '* Please enter your password'">
      </ion-input>
    </ion-item>
  
  </form>
  
  <p class="ion-text-right ion-margin-horizontal">
    <ion-text color="medium" (click)="forgotPassword()">Forgot password?</ion-text>
  </p>
  
  <div class="submit_button ion-margin-horizontal">
    <ion-button
      *ngIf="!isLogin"
      class="ion-margin-horizontal"
      size="large" 
      expand="block" 
      shape="round" 
      color="primary"
      [strong]="true"
      (click)="onSubmit()">
      <ion-text>Log In</ion-text>
    </ion-button>
  
    <ion-button 
      *ngIf="isLogin"
      class="ion-margin-horizontal"
      size="large" 
      expand="block" 
      shape="round" 
      color="primary" 
      [disabled]="!form.valid">
      <ion-spinner name="circles"></ion-spinner>
    </ion-button>
  </div>
    
</ion-card>


<!-- <p class="ion-text-center">
  <ion-text color="medium">OR</ion-text>
</p> -->

<!-- <p class="ion-text-center">
  <ion-icon name="logo-facebook" color="tertiary"></ion-icon>
  <ion-icon name="logo-twitter" color="secondary"></ion-icon>
  <ion-icon name="logo-google" color="danger"></ion-icon>
</p> -->

<div *ngIf="!isKeyboard" align="center" class="guest">
  <ion-button fill="clear" [strong]="true" size="small" color="dark" routerLink="/tabs">
    <ion-text>CONTINUE AS GUEST</ion-text>
  </ion-button>
</div>