<ion-card>

  <form [formGroup]="form"> 
  
    <ion-item lines="none" class="i">
      <ion-input class="no-validation-line"
        label=""
        placeholder="Mobile Number"
        formControlName="phone" 
        inputmode="numeric"
        type="number"
        minlength="10"
        errorText="* Please enter your Mobile Number">
      </ion-input>
    </ion-item>
    <ion-item class="check">
      <ion-item class="check ss" >
        <ion-checkbox slot="start" formControlName="terms" (ionChange)="onTermsChecked($event)" errorText="* Please accept Terms & Conditions"></ion-checkbox>
      </ion-item>
      
      <ion-label class="terms" (click)="terms()">Accept Terms & Conditions</ion-label>
    </ion-item>
  </form>
  
  <!-- <p class="ion-text-right ion-margin-horizontal">
    <ion-text color="medium" (click)="forgotPassword()">Forgot password?</ion-text>
  </p> -->
  
  <div class="submit_button ion-margin-horizontal">
    <ion-button
      *ngIf="!isLogin"
      class="ion-margin-horizontal"
      size="large" 
      expand="block" 
      shape="round" 
      color="primary"
      [strong]="true"
      (click)="onSubmit()">
      <ion-text>Get OTP</ion-text>
    </ion-button>
  
    <ion-button 
      *ngIf="isLogin"
      class="ion-margin-horizontal"
      size="large" 
      expand="block" 
      shape="round" 
      color="primary" 
      [disabled]="!form.valid">
      <ion-spinner name="circles"></ion-spinner>
    </ion-button>
  </div>
    
</ion-card>


<!-- <p class="ion-text-center">
  <ion-text color="medium">OR</ion-text>
</p> -->

<!-- <p class="ion-text-center">
  <ion-icon name="logo-facebook" color="tertiary"></ion-icon>
  <ion-icon name="logo-twitter" color="secondary"></ion-icon>
  <ion-icon name="logo-google" color="danger"></ion-icon>
</p> -->