ion-item {
    margin-bottom: 1vh;
    font-size: 0.8rem;
    ion-thumbnail {
        height: 12vh;
        width: 12vh;
        img {
            border-radius: 10px;
            height: 100%;
            width: 100%;
        }
    }
    h4 {
        font-size: 1rem;
        font-weight: bold;
    }
}

.distance {
    font-size: 0.8rem;
    padding-top: 0.2vh;
}

.pStyle {
    padding-bottom: 0.5vh;
    font-size: 0.82rem !important;
}