ion-card {
    margin: 0;
    ion-row {
        .amtSaved {
            background-image: linear-gradient(to right, var(--ion-color-primary), #f95b4b);
        }
        .amtInsufficient {
            background: var(--ion-color-medium);
        }
        ion-col.offer {
            display: flex;
            position: relative;
            justify-content: center;
            ion-label {
                font-size: 1.1rem;
                letter-spacing: 0.5px;
                writing-mode: vertical-lr;
                transform: rotateZ(180deg);
            }
            .circle1, .circle2, .circle3, .circle4 {
                display: flex;
                flex-direction: column;
                background: var(--ion-color-white);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                left: -4px;
            }
        
            .circle1 {
                top: 20%;
                transform: translateY(-20%);
            }
        
            .circle2 {
                top: 40%;
                transform: translateY(-40%);
            }
        
            .circle3 {
                top: 60%;
                transform: translateY(-60%);
            }
        
            .circle4 {
                top: 80%;
                transform: translateY(-80%);
            }
        }
        
        ion-col {
            ion-item {
                ion-label {
                    font-size: 1rem;
                    p {
                        margin-top: 5px;
                        ion-text {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            ion-row {
                ion-col {
                    padding-top: 0;
                    padding-bottom: 0;
                    div {
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 0.8rem;
                        font-weight: bold;
                        color: var(--ion-color-medium);
                    }
                    ion-button {
                        --color: dimgray;
                    }
                }
            }
        }
    }
}
div.coupon {
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 10px;
    
    ion-row.terms {
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        ion-col {
            ion-label {
                font-size: 0.85rem;
            }
            ion-row {
                color: dimgray;
                font-size: 0.8rem;
                margin-top: 1.5vh;
                ion-col {
                    padding-right: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                }
                ion-col[size="11"] {
                    padding-left: 0;
                }
                // ion-col[size="1"] {
                // }
            }
        }
    }
}